// Gonzo Seed

@import 'config'

// Core
@import 'core/normalize.css/normalize.css'
@import 'core/wrapperElement/wrap'
@import 'core/generic'
@import 'core/typography'

// Effects
@import 'effects/animate.css/animate.min.css'
@import 'effects/easing'

// Components
@import 'components/icons'