// Config

$indent = 10px
$fontSize = 16px
$lineHeight = 24px

// Colors
$colorWhite = #fff
$colorBlack = #000

// Responsive
$mobileMaxWidth = 736px // iPhone 6+
$tabletMinWidth = 768px
$tabletMaxWidth = 1280px
$widescreenMinWidth = 1200px

$mediaMobile = 'screen and (max-device-width: ' + $mobileMaxWidth + ')'
$mediaTablet = 'screen and (min-device-width: ' + $tabletMinWidth + ') and (max-device-width: ' + $tabletMaxWidth + ')'
$mediaWidescreen = 'screen and (min-width: ' + $widescreenMinWidth + ')'