// Gonzo Seed

@import 'core/config'

// Core

@import 'core/normalize.css/normalize.css'
@import 'core/wrapperElement/wrap'
@import 'core/generic'

// Effects

@import 'core/effects/animate.css/animate.min.css'
@import 'core/effects/easing'

// Components

@import 'components/icon'
@import 'components/form'

// Skin