/*
  chili-sass
  github.com/salsita/chili
  2015 | MIT
  @mixin ============================= */
body, html body {
  margin: 0; }
  body nav, html body nav {
    color: red; }
    .disabled body nav, .disabled html body nav {
      font: 'WOOT'; }
  body div, html body div {
    color: blue; }
    :hover body div, :hover html body div {
      font: 'WOOT';
      display: none; }
