html body {
  margin: 0; }
  html body nav {
    color: red; }
    .disabled html body nav {
      font: 'WOOT'; }
  html body div {
    color: blue; }
    :hover html body div {
      font: 'WOOT';
      display: none; }
