/*
  chilli-seed | config
  ============================== */

// Framework

$debug = false

// Proportional

$indent           = rem(10)
$textMargin       = .67em
$lineHeight       = rem(30)
$lineHeightBorder = rem(28)

// Typography

$fontScale = 62.5% // 1rem = 10px
$fontM     = rem(16)
$fontS     = rem(14)
$fontXS    = rem(12)
$fontXXS   = rem(10)
$fontL     = rem(18)
$fontXL    = rem(24)
$fontXXL   = rem(32)

$fontNormal     = 400
$fontSemiBold   = 600
$fontBold       = 700

// Colors

$colorWhite        = #fff
$colorBlack        = #000
$colorGrey         = #ddd
$colorGreyAlt      = #ccc
$colorGreyLight    = #f7f7f7
$colorGreyLightAlt = #f2f2f2
$colorRed          = #e2363c
$colorGreen        = #1da362
$colorBlue         = #4778d1
$colorBlueLightest = #f9fbfe
$colorSalsitaRed   = #e83535

// Effects

$transitionDuration = .2s
$animationDuration  = .4s
$transitionEasing   = $easeInOutSine
$animationEasing    = linear
$borderRadius       = 2px
$boxShadow          = 0 0 10px rgba(0, 0, 0, .25)
$boxShadowInput     = 0 1px 1px rgba(0, 0, 0, .12)
$border             = 1px solid $colorGrey

// Responsive

$documentMinWidth   = 320px
$mobileMaxWidth     = 736px // iPhone 6+
$tabletMinWidth     = $mobileMaxWidth - 1
$tabletMaxWidth     = 1279px
$widescreenMinWidth = 1600px

$mediaMobile     = 'screen and (max-device-width: ' + $mobileMaxWidth + ')'
$mediaTablet     = 'screen and (min-device-width: ' + $tabletMinWidth + ') and (max-device-width: ' + $tabletMaxWidth + ')'
$mediaWidescreen = 'screen and (min-width: ' + $widescreenMinWidth + ')'

// Retina

$retina2x = 'screen and (-webkit-min-device-pixel-ratio: 1.5)'
$retina3x = 'screen and (-webkit-min-device-pixel-ratio: 3)'
