/*
  chili | debug
  ============================== */

@import 'shared'

// Component

// Empty element check

:empty
    outline 5px solid yellow !important

// Alt attribute in images

img
  outline 5px solid red !important

img[alt]
    outline none !important

img[alt='']
    outline 5px solid yellow !important

// Check javascript-based links

a[href='#']
a[href*='javascript']
    outline 5px solid yellow !important

// List nesting errors

ul
ol
  > *:not(li)
    outline 5px solid red !important

// Scope for th

th
  outline 5px solid yellow !important

th[scope]
    outline none !important

// No direct tr children in tables

table > tr
  outline 5px solid yellow !important

// Tfoot before tbody

tbody + tfoot
  outline 5px solid yellow !important

// Form requires action attribute

form
  outline 5px solid red !important

form[action]
  outline none !important

// Input and textarea require attributes

textarea
input
  outline 5px solid red !important

input[type]
  outline none !important

textarea[rows][cols]
  outline none !important

input[type=submit]
  outline 5px solid red !important

input[type=submit][value]
  outline none !important

// Inline style detection

[style]
  outline 5px solid yellow !important
