/*
  chili | buttons
  ============================== */

@import 'shared'

$buttonColorDefault = $colorBlue

// Component

// Base text-like button

$button
  unstyled-button()
  color $buttonColorDefault
  text-align center
  text-decoration none
  cursor pointer
  text-transform capitalize
  vertical-align middle
  transition all ($transitionDuration/2) $transitionEasing

  &:hover
    text-decoration underline

// Button with hitbox

$button-hitboxed
  @extends $button
  padding 0 $indent
  line-height $lineHeight
  border $borderBlank
  border-radius $borderRadius

// Default button skin

$button-default
  @extends $button-hitboxed
  color $colorWhite
  background-color $buttonColorDefault
  border-color @background-color
  font-size $fontXS
  font-weight $fontSemiBold
  text-transform uppercase

  &:hover
    text-decoration none

  &:hover
  &:focus
    background-color darken(@background-color, 20%)

  &[disabled]
    &:hover
      background-color $buttonColorDefault

// Alternate button skin

$button-alt
  @extends $button-hitboxed
  color $buttonColorDefault
  border $border
  font-size $fontXS
  font-weight $fontSemiBold
  text-transform uppercase

  &:hover
    text-decoration none
    border-color $colorGrey
    box-shadow 0 1px 1px lighten($colorGrey, 50%)

  &:active
    box-shadow 0 2px 3px lighten($colorGrey, 50%)

  &[disabled]
    color $colorGreyDarker
    background-color $colorGreyLightest
    border-color $colorGreyLighter

    &:hover
      border-color @border-color
      box-shadow none

// Base button component

+component(button)
  & // https://github.com/stylus/stylus/issues/1507
    @extends $button-default
