@import 'chili'

+component(root, 'body')
  margin 0

  +component(myButton, 'button, .button, [role=button]')
    appearance none

    +state(':hover, .disabled', root)
      display inline
    
    +component(docus, '.docus')
      display block
