/*
  chilli-seed | button
  ============================== */

$buttonColor = $colorBlue

button
  appearance none
  border 0
  outline 0

button
.button
  line-height $lineHeight
  padding 0 $indent
  border-radius $borderRadius
  color $buttonColor
  background-color $colorWhite
  border $border
  border-color $colorGreyAlt
  transition-property border-color, box-shadow, transform
  transition-duration $transitionDuration
  transition-timing-function $transitionEasing

  &:hover:not([disabled])
    border-color $colorGrey
    box-shadow 0 1px 1px lighten($colorGrey, 50%)
    transform translateY(-1px)

  &:active:not([disabled])
    box-shadow 0 2px 3px lighten($colorGrey, 50%)
    transition-property border-color
    transform none

  &[disabled]
    color $colorGrey
    background-color $colorGreyLight
    border-color $colorGreyLight
