/*
  chili | checkbox
  ============================== */

@import 'shared'

$checkboxSize = 20px
$checkmarkSrc = 'assets/img/checkmark.svg'

// Component

checkbox(type = checkbox, pos = left)
  hide(display)

  + span:first-of-type
    display inline-block
    position relative
    if pos is left
      padding-left ($checkboxSize + 5px)
    else if pos is right
      padding-right ($checkboxSize + 5px)
    cursor pointer
    transform-style preserve-3d

    &:before
    &:after
      pseudo(inline-block)
      position absolute
      top 50%
      transition-property background-color, border-color
      transition-duration $transitionDuration
      transition-timing-function $transitionEasing

    &:before
      if pos is left
        left 0
      else if pos is right
        right 0
      transform translateY(-50%)
      width $checkboxSize
      height @width
      border $border
      background-color $colorBlueLightest
      if type is checkbox
        border-radius $borderRadius
      else if type is radio
        circle()

    &:hover:before
      border-color darken($colorGrey, 12%)

    &:after
      opacity 0
      transform-origin 50% 50%
      transition all $transitionDuration $transitionEasing
      will-change transform // investigate the blur
      if type is checkbox
        width $checkboxSize
        height @width
        background transparent url($checkmarkSrc) no-repeat 50% 50%
        background-size ($checkboxSize*.7) auto
        transform translateY(-50%) scale(0.6) rotate(-30deg)
        if pos is left
          left 0
        else if pos is right
          right 0
      else if type is radio
        width ($checkboxSize*.4)
        height @width
        background-color $colorBlue
        circle()
        if pos is left
          left ($checkboxSize/2)
          transform translateX(-50%) translateY(-50%) scale(0.1)
        else if pos is right
          right ($checkboxSize/2)
          transform translateX(50%) translateY(-50%) scale(0.1)

  &:checked + span:first-of-type

    &:before
      border-color $colorBlue
      background-color $colorWhite

    &:after
      opacity 1

      if type is checkbox
        transform translateY(-50%)
      else if type is radio
        if pos is left
          transform translateX(-50%) translateY(-50%)
        else if pos is right
          transform translateX(50%) translateY(-50%)

label

  > input[type='checkbox']
    checkbox()

  > input[type='radio']
    checkbox(radio)
