/*
  chilli-seed | code
  ============================== */

pre
  code
    padding $indent
    border $border
    background-color $colorGreyLight
    border-radius $borderRadius
    white-space pre
    font-size $fontS
