/*
  chilli-seed | code
  ============================== */

pre
  code
    font-size $fontS
    padding ($indent*2)
    border $border
    background-color $colorGreyLight
    border-radius $borderRadius
    white-space pre
