body
  margin 0
  padding 10px
  font-family 'Source Sans Pro', sans-serif

.wrap
.wrap-flex
  height 200px
  border 1px solid grey
  margin 20px 0

.dialog
  width 300px
  height 200px

.wrap
  distribute(center, center)
  span
    reset()

.wrap-flex
  distribute-flex(right, center, column)

// Buttons

button.back:before
[role=button].back:before
  icon($icon-chevron-left, left)

button.follow:after
[role=button].follow:after
  icon($icon-star, right)

button.forward:before
[role=button].forward:before
  icon($icon-chevron-right, right, false)

button.clock:before
  icon($icon-clock, left)
