body
  margin 0
  padding 10px
  font-family 'Source Sans Pro', sans-serif

.wrap
.wrap-flex
  height 200px
  border 1px solid grey
  margin 20px 0

.dialog
  width 300px
  height 200px

.wrap
  distribute(center, center)

  span
    reset()

.wrap-flex
  distribute-flex(right, center, column)

// Buttons

button.back:before
[role=button].back:before
  icon($icon-arrow-left, left)

button.follow:after
[role=button].follow:after
  icon($icon-star, right)

button.forward:before
[role=button].forward:before
  icon($icon-arrow-right, right, false)

button.clock:before
  icon($icon-clock, left)

// Game

#game
  grid(960px)
  margin 0 auto
  border 1px solid $colorGrey
  border-radius $borderRadius
  margin-bottom ($indent*2)

  #title
  #scores
    col(300px, 150px)

  #menu
    col(300px)


// Grid

.row1
  margin-bottom ($indent*2)

.col1
.col2
  text-align center
  line-height 3
  vertical-align middle

.row1
  row()
  background-color $colorBlue

  > .col1
    col(30%)
    background-color orange

  > .col2
    col()
    background-color lighten(orange, 20%)

    .row2
      row()

      .col1
        col(50%)
        background-color lighten(orange, 40%)

      .col2
        col()
        background-color lighten(orange, 60%)

