@import 'shared'

+component('button .button [role=button]')

  +variant('.phat')
    font-weight 700
  
    +state(':hover .disabled', html)
      display inline
  
  +component(docus)
    display block

+component(header footer)
  size(block, 100%, 200px)
  position(fixed, left, top)

  .logo
    background-retina('logo.png', 200px)
    hide-text()

  .right-side
    distribute-flex(left, center)
    indent-children(right, bottom, 10px)
