/*
  chilli-seed | dialog
  ============================== */

$dialogChevronSize = 12px

[class*='dialog']
  position relative
  padding $indent
  border $border
  border-radius $borderRadius
  box-shadow $boxShadow
  background-color $colorWhite
  z-index 1000

  // Popover

  &[class*='popover']
    &:before
      pseudo(block)
      position absolute
      width $dialogChevronSize
      height @width
      border-top $border
      border-left @border-top
      box-shadow $boxShadow
      background-color @background-color
      clip-path polygon(0 0, 100% 0, 0 100%)

    &.popover-top:before
      transform rotate(225deg)
      left 50%
      bottom ($dialogChevronSize/-2)

    &.popover-right:before
      transform rotate(-45deg)
      left ($dialogChevronSize/-2)
      top 50%
      margin-top @left

    &.popover-bottom:before
      transform rotate(45deg)
      left 50%
      top ($dialogChevronSize/-2)

    &.popover-left:before
      transform rotate(135deg)
      right ($dialogChevronSize/-2)
      top 50%
      margin-top @right
