/*
  chilli-seed | docs
  ============================== */

@import 'shared'

// Component

html
body
  width 100%
  height 100%

body
  font-family 'Maven Pro', sans-serif

+component(docs)

  header
    height 30%
    color $colorWhite
    background-color $colorSalsitaRed
    distribute-flex(center, center, column)

    p
      font-size $fontL

  article
    max-width 960px
    padding ($indent*2)
    margin 0 auto

  +state(opened closed)
    background-color red

  +component(button)
    color red

    +state(denied fixed, fuck)
      color black




.back:before
  icon($icon-arrow-left, left)
