/*
  chilli-seed | docs
  ============================== */

@import 'shared'

// Component

body
  margin 0
  padding 10px
  font-family 'Source Sans Pro', sans-serif

+component(docs)
  background-color blue

  +state(opened closed)
    background-color red

  +component(button, true)
    color white

    &:hover
      color red

    +variant(pretty)
      background-color pink
      color white

    +state(denied fixed, true)
      color black

.back:before
  icon($icon-arrow-left, left)
