/* -------------------
  gonzo-ui | form
  ------------------- */

// Buttons

button
.button
  padding ($indentX/2) $indentX
  border-radius $borderRadius
  
  &[class*='icon-']:before
    margin-right ($indentX/2)

// Inputs

input[type='text']
  margin ($indent/2) 0