/*
  gonzo-seed | forms
  ============================== */

// Buttons

button
.button
  padding ($indent/2) $indent
  border-radius $borderRadius
  
  &[class*='icon-']:before
    margin-right ($indent/2)

// Inputs

input[type='text']
  margin ($indent/2) 0