/* -------------------
  gonzo-ui | form
  ------------------- */

// Buttons

button
  appearance none
  border 0
  outline 0

button
.button
  padding ($indentX/2) $indentX
  border-radius $borderRadius
  
  &[class*='icon-']:before
    margin-right ($indentX/2)

// Inputs

input[type='text']
  margin ($indent/2) 0

// State

[disabled]
  opacity 0.5