/*
  chilli-seed | grid
  CSS3 Grid Layout as CSS Tables
  ============================== */

grid(maxWidth = 100%, width = 100%, spacing = 0, collapse = separate)
  display table
  table-layout fixed
  width width
  max-width maxWidth
  border-spacing spacing
  border-collapse collapse

row(maxWidth = 100%, width = 100%)
  display table-row
  width width
  max-width maxWidth

col(width = auto, maxWidth = 100%, valign = middle)
  display table-cell
  width width
  max-width maxWidth
  vertical-align valign
