/*
  chilli-seed | grid
  CSS3 Grid Layout as CSS Tables
  ============================== */

row(width = 100%, maxWidth = 100%, height = auto, spacing = 0, collapse = separate)
  display table
  table-layout fixed
  width width
  max-width maxWidth
  height height
  border-spacing spacing
  border-collapse collapse

col(width = auto, maxWidth = 100%, height = auto, valign = middle)
  display table-cell
  width auto
  max-width maxWidth
  height height
  vertical-align valign
