/*
  gonzo-seed | icons
  ============================== */

@font-face
  font-family 'icons'
  src url('assets/font/icons.eot')
  src url('assets/font/icons.eot?#iefix') format('eot'),
    url('assets/font/icons.woff') format('woff'),
    url('assets/font/icons.ttf') format('truetype'),
    url('assets/font/icons.svg#icons') format('svg')
  font-weight normal
  font-style normal

[class*='icon-']:before
  display inline-block
  vertical-align middle
  font-family 'icons'
  font-style normal
  font-weight normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

$icon-chevron-left = '\E001'
$icon-chevron-right = '\E002'
$icon-mail59 = '\E003'

.icon-chevron-left:before
  content $icon-chevron-left

.icon-chevron-right:before
  content $icon-chevron-right

.icon-mail59:before
  content $icon-mail59