/*
  chilli-seed | icons
  ============================== */

@font-face
  font-family 'icons'
  src url('assets/font/icons.eot')
  src url('assets/font/icons.eot?#iefix') format('eot'),
    url('assets/font/icons.woff') format('woff'),
    url('assets/font/icons.ttf') format('truetype'),
    url('assets/font/icons.svg#icons') format('svg')
  font-weight normal
  font-style normal

icon(type)
  if type
    content type
  display inline-block
  line-height 1
  vertical-align middle
  font-family 'icons'
  font-style normal
  font-weight normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

$icon-add = '\E001'
.icon-add:before
  icon($icon-add)

$icon-arrow-down = '\E002'
.icon-arrow-down:before
  icon($icon-arrow-down)

$icon-calendar = '\E003'
.icon-calendar:before
  icon($icon-calendar)

$icon-chevron-left = '\E004'
.icon-chevron-left:before
  icon($icon-chevron-left)

$icon-chevron-right = '\E005'
.icon-chevron-right:before
  icon($icon-chevron-right)

$icon-clock = '\E006'
.icon-clock:before
  icon($icon-clock)

$icon-delete = '\E007'
.icon-delete:before
  icon($icon-delete)

$icon-list = '\E008'
.icon-list:before
  icon($icon-list)

$icon-star = '\E009'
.icon-star:before
  icon($icon-star)

$icon-trash = '\E00A'
.icon-trash:before
  icon($icon-trash)
