/*
  chilli-seed | input
  ============================== */

input[type='text']
  height $lineHeight
  padding 0 $indent
  border 0
  border-bottom $border
  outline 0
  transition border-color $transitionDuration $transitionEasing

  &:focus
    border-color $colorBlue

  &[required]:valid
    border-color $colorGreen

  &:invalid
    border-color $colorRed
