/*
  chilli-seed | input
  ============================== */

@import 'shared'

// Component

input[type='text']
  height $lineHeight
  padding 0 $indent
  border $border
  border-radius $borderRadius
  border-color $colorGreyAlt
  outline 0
  transition border-color $transitionDuration $transitionEasing

  &:hover:not([disabled])
    border-color $colorGrey

  &:focus:not([disabled])
    border-color $colorBlue

  &[required]:valid:not([disabled])
    border-color $colorGreen

  &:invalid:not([disabled])
    color $colorRed
    border-color $colorRed

  &[disabled]
    color $colorGrey
    background-color $colorGreyLight
    border-color $colorGreyAlt
