/*
  chilli-seed | inputs
  ============================== */

$checkboxSize = 20px
$checkmarkSize = 10px

// Text

input[type='text']
  height $lineHeight
  padding 0 $indent
  border $border
  border-radius $borderRadius
  border-color $colorGreyAlt
  outline 0
  transition border-color $transitionDuration $transitionEasing

  &:hover:not([disabled])
    border-color $colorGrey

  &:focus:not([disabled])
    border-color $colorBlue

  &[required]:valid:not([disabled])
    border-color $colorGreen

  &:invalid:not([disabled])
    color $colorRed
    border-color $colorRed

  &[disabled]
    color $colorGrey
    background-color $colorGreyLight
    border-color $colorGreyAlt

// Checkbox, Radio

// TODO: solve the will-change blurry transform

checkbox(type = checkbox, pos = left)
  hide(display)

  + span:first-of-type
    display inline-block
    position relative
    padding-left ($checkboxSize + 5px)
    cursor pointer
    transform-style preserve-3d

    &:before
    &:after
      pseudo(inline-block)
      position absolute
      top 50%

    &:before
      left 0
      transform translateY(-50%)
      width $checkboxSize
      height @width
      border $border
      if type is checkbox
        border-radius $borderRadius
      else if type is radio
        circle()

    &:after
      opacity 0
      transform-origin 50% 50%
      transition all $transitionDuration $transitionEasing
      will-change transform
      if type is checkbox
        icon($icon-checkmark)
        left 3px
        color $colorBlue
        font-size $checkmarkSize
        transform translateY(-50%) scale(0.6) rotate(-30deg)
      else if type is radio
        width $checkmarkSize
        height @width
        circle()
        left ($checkboxSize/2)
        background-color $colorBlue
        transform translateX(-50%) translateY(-50%) scale(0.1)

  &:checked + span:after
    opacity 1
    if type is checkbox
      transform translateY(-50%)
    else if type is radio
      transform translateX(-50%) translateY(-50%)

input[type='checkbox']
  checkbox()

input[type='radio']
  checkbox(radio)
