/*
  chilli-seed | popover
  ============================== */

[class*='popover']
  position relative
  padding $indent
  border $border
  border-radius $borderRadius
  box-shadow $boxShadow
  background-color $colorWhite
  z-index 1000

.popover-top
  chevron(bottom)

.popover-right
  chevron(left)

.popover-bottom
  chevron(top)

.popover-left
  chevron(right)
