/*
  chilli-seed | popover
  ============================== */

[class*='popover']
  position relative
  padding $indent
  border $border
  border-radius $borderRadius
  box-shadow $boxShadow
  background-color $colorWhite
  z-index 1000

.popover-top:before
  chevron(bottom)

.popover-right:before
  chevron(left)

.popover-bottom:before
  chevron(top)

.popover-left:before
  chevron(right)
