/*
  chilli-seed | tooltip
  ============================== */

$tooltipBgColor = $colorBlack
$tooltipDistance = 20px
$tooltipSize = 8px

[aria-label][tooltip]:after
[aria-label][data-tooltip]:after
  display inline-block
  line-height 1.5
  content attr(aria-label)

[aria-label][tooltip]
[aria-label][data-tooltip]
  position relative

  &:before
  &:after
    hide(fade, all)

  &:hover:before
  &:hover:after
    show(fade, all)
    z-index 100

  &:before
    position absolute

  &:after
    position absolute
    max-width 400px
    padding ($indent/2) $indent
    border-radius $borderRadius
    font-size $fontXS
    color $colorWhite
    background-color $tooltipBgColor
    white-space pre

  // Top

  &[tooltip='top']
  &[data-tooltip='top']

    &:hover:before
    &:hover:after
      margin-top -($tooltipDistance - 5px)

    &:before
    &:after
      left 50%
      top 0
      margin-top -($tooltipDistance)

    &:before
      triangle(down)
      transform translateX(-50%)

    &:after
      transform translateX(-50%) translateY(-100%)

  // Right

  &[tooltip='right']
  &[data-tooltip='right']

    &:hover:before
    &:hover:after
      margin-right -($tooltipDistance - 5px)

    &:before
    &:after
      right 0
      top 50%
      margin-right -($tooltipDistance)

    &:before
      triangle(left)
      transform translateY(-50%)

    &:after
      transform translateX(100%) translateY(-50%)

  // Bottom

  &[tooltip='bottom']
  &[data-tooltip='bottom']

    &:hover:before
    &:hover:after
      margin-bottom -($tooltipDistance - 5px)

    &:before
    &:after
      left 50%
      bottom 0
      margin-bottom -($tooltipDistance)

    &:before
      triangle(up)
      transform translateX(-50%)

    &:after
      transform translateX(-50%) translateY(100%)

  // Left

  &[tooltip='left']
  &[data-tooltip='left']

    &:hover:before
    &:hover:after
      margin-left -($tooltipDistance - 5px)

    &:before
    &:after
      left 0
      top 50%
      margin-left -($tooltipDistance)

    &:before
      triangle(right)
      transform translateY(-50%)

    &:after
      transform translateX(-100%) translateY(-50%)


// Elements

span[aria-label][tooltip]
span[aria-label][data-tooltip]
  padding-bottom 2px
  border-bottom 1px dashed $colorGrey
  cursor help
