// Icons

i[class*='icon']
  display inline-block
  width $iconSize
  height @width
  background-repeat no-repeat
  background-size $iconSize auto
  background-position 50% 50%
  hide-text()

button[class*='icon']
  background-repeat no-repeat
  background-size $iconSize auto
  background-position 50% 50%

[class*='icon']
  display inline-block