/* --------------------
  Gonzo UI
  filip@salsitasoft.com
  2015 MIT
  ------------------- */

// Configuration

@import 'config'
@import 'skin/default/config'

// Core

@require 'core/normalize.css/normalize.css'
@import 'core/wrapperElement/wrap'
@import 'core/generic'

// Effects

@import 'core/effects/animate.css/animate.min.css'
@import 'core/effects/easing'

// Components

@import 'components/icon'
@import 'components/form'

// Skin

@import 'skin/default/_main'