/* -------------------
  gonzo-ui | base
  ------------------- */

*
  box-sizing border-box

html
  position relative
  min-height 100%
  font-size 62.5% // 1rem = 10px

body
  margin 0

p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form,
fieldset, legend, input, button, textarea, blockquote, th, td
  margin 0
  padding 0

main, article, aside, details, figcaption, figure, footer, header, menu, nav, section
  display block
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6,
p, pre, ul, ol, dl, hr, legend, address, table, blockquote
  margin-bottom 1.5rem

h1
  font-size 3.2rem

h2
  font-size 2.4rem

h3, h4, h5, h6
  font-size 1.8rem

p, dl, dt, dd, li, span, button, input, label
  font-size $fontSizeX

pre
  code
    display block

img
  max-width 100%
  width auto
  height auto

button
  appearance none
  border 0
  outline 0

[hidden]
  display none

[disabled]
  opacity 0.5

// Demo

.wrap
  distribute(center, center)

.wrap-flex
  distribute-flex(right, bottom)