/*
  chilli-seed | base
  ============================== */

*
*:before
*:after
  box-sizing border-box

html
  position relative
  min-height 100%
  font-size $fontScale

body
  margin 0
  font-size $fontM
  line-height 1.5
  min-width $documentMinWidth

p, dl, dt, dd, li, h1, h2, h3, h4, h5, h6, pre, code, form,
fieldset, legend, input, button, textarea, blockquote, th, td
  margin 0
  padding 0

main, article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary
  display block
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6,
p, pre, ul, ol, dl, hr, legend, address, table, blockquote
  margin-bottom $textMargin

ul, ol
  padding-left ($indent*2)
  margin-top $textMargin

pre
  code
    display block

img
  max-width 100%
  width auto
  height auto

label
  user-select none

[hidden]
[aria-hidden]
  hide(display)

[disabled]
[aria-disabled]
  cursor default

// Natural grid

button + input
input + button
input + input
label + input
  margin-left $indent
