/*
  chilli-seed | base
  ============================== */

*
*:before
*:after
  box-sizing border-box

html
  position relative
  min-height 100%
  font-size $fontScale

body
  margin 0
  font-size $fontM

p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form,
fieldset, legend, input, button, textarea, blockquote, th, td
  margin 0
  padding 0

main, article, aside, details, figcaption, figure, footer, header, menu, nav, section
  display block
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6,
p, pre, ul, ol, dl, hr, legend, address, table, blockquote
  margin-bottom 0.67em

pre
  code
    display block

img
  max-width 100%
  width auto
  height auto

label
  user-select none

[hidden]
[aria-hidden]
  hide(display)

[disabled]
[aria-disabled]
  background-color $colorGrey

// Natural grid

button + input
input + button
input + input
input + label
  margin-left $indent

// Demo purposes

.wrap
  distribute(center, center)
  span
    reset()

.wrap-flex
  distribute-flex(right, bottom)
