/*
  gonzo-seed | config
  ============================== */

$debug = false

$indent = 10px
$indentX = 1rem
$formHeight = 24px
$iconSize = 18px

// Typography

$fontSize = 16px
$fontSizeX = 1.6rem

// Colors

$colorWhite = #fff
$colorBlack = #000

// Effects

$transitionDuration = .2s
$easing = easeInCubic
$borderRadius = 5px

// Responsive

$mobileMaxWidth = 736px // iPhone 6+
$tabletMinWidth = 768px
$tabletMaxWidth = 1280px
$widescreenMinWidth = 1600px

$mediaMobile = 'screen and (max-device-width: ' + $mobileMaxWidth + ')'
$mediaTablet = 'screen and (min-device-width: ' + $tabletMinWidth + ') and (max-device-width: ' + $tabletMaxWidth + ')'
$mediaWidescreen = 'screen and (min-width: ' + $widescreenMinWidth + ')'

// Retina

$retina2x = 'screen and (-webkit-min-device-pixel-ratio: 1.5)'
$retina3x = 'screen and (-webkit-min-device-pixel-ratio: 3)'