/*
  gonzo-seed | config
  ============================== */

$debug = false

$scale = 62.5% // 1rem = 10px, accounts for webkit minimum font-size
$indent = rem(10)
$fontSize = rem(16)

// Colors

$colorWhite = #fff
$colorBlack = #000

// Effects

$transitionDuration = .2s
$easing = easeInOutSine
$borderRadius = rem(5)

// Responsive

$mobileMaxWidth = 736px // iPhone 6+
$tabletMinWidth = 768px
$tabletMaxWidth = 1280px
$widescreenMinWidth = 1600px

$mediaMobile = 'screen and (max-device-width: ' + $mobileMaxWidth + ')'
$mediaTablet = 'screen and (min-device-width: ' + $tabletMinWidth + ') and (max-device-width: ' + $tabletMaxWidth + ')'
$mediaWidescreen = 'screen and (min-width: ' + $widescreenMinWidth + ')'

// Retina

$retina2x = 'screen and (-webkit-min-device-pixel-ratio: 1.5)'
$retina3x = 'screen and (-webkit-min-device-pixel-ratio: 3)'