// Empty element check

:empty
    outline 5px solid yellow

// Alt attribute in images

img
  outline 5px solid red

img[alt]
    outline none

img[alt=""]
    outline 5px solid yellow

// Check javascript-based links

a[href="#"]
a[href*="javascript"]
    outline 5px solid yellow

// List nesting errors

ul
ol
  > *:not(li)
    outline:5px solid red;

// Scope for th

th
  outline 5px solid yellow

th[scope]
    outline none

// No direct tr children in tables

table > tr
  outline 5px solid yellow

// Tfoot before tbody

tbody + tfoot
  outline 5px solid yellow

// Form requires action attribute

form
  outline 5px solid red

form[action]
  outline none

// Input and textarea require attributes

textarea
input 
  outline 5px solid red

input[type]
  outline none

textarea[rows][cols]
  outline none

input[type=submit]
  outline 5px solid red

input[type=submit][value]
  outline none

// Inline style detection

[style]
  outline 5px solid yellow