/* -------------------
  gonzo-ui | generic
  ------------------- */

*
  box-sizing border-box

html
  position relative
  min-height 100%
  font-size 62.5% // 1rem = 10px

h1
  font-size 3.2rem

h2
  font-size 2.4rem

h3
h4
h5
h6
  font-size 1.8rem

p
li
span
button
input
  font-size $fontSizeX

.wrap
  distribute(center, center)

.wrap-flex
  distribute-flex(right, bottom)