/*
  chilli-seed | mixins
  ============================== */

rem(px)
  unit(px/(0.16*$scale), 'rem')

clearfix()
  &:after
  &:before
    content ''
    display table
  &:after
    clear both

hide-text()
  text-indent 100%
  white-space nowrap
  overflow hidden

truncate-text(width = 100%)
  max-width width
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

pseudo(display)
  content ''
  display display or block

background-retina(file, width, height)
  background-image url(file)
  background-size width height
  @media $retina2x
    background-image url(pathjoin(dirname(file), basename(file, extname(file)) + '@2x' + extname(file)))
  @media $retina3x
    background-image url(pathjoin(dirname(file), basename(file, extname(file)) + '@3x' + extname(file)))

abs-center(style = transform)
  position absolute
  left 50%
  top 50%
  if style is margin
    margin (@height/-2) 0 0 (@width/-2)
  if style is transform
    transform translate(-50%, -50%)

distribute(x = left, y = center)
  if y is center
    y = middle
  font-size 0
  text-align x
  &:before
  &:after
  & > *
    font-size $fontSize
  &:before
    content ''
    display inline-block
    vertical-align y
    width 0
    height 100%
    min-height inherit
    max-height inherit
    padding 0
  & > *
    display inline-block
    vertical-align y

distribute-flex(x = left, y = center)
  if x is left
    x = flex-start
  if x is right
    x = flex-end
  if y is top
    y = flex-start
  if y is bottom
    y = flex-end
  display flex
  justify-content x
  align-items y

unstyled-list()
  list-style none
  margin 0
  padding 0

hide(method = display)
  if method is display
    display none
  else
    position absolute
    pointer-events none
    visibility hidden
