/*
  gonzo-seed | reset
  ============================== */

reset()
  &
    font-size medium
    line-height 1
    direction ltr
    text-align left
    font-style normal
    font-weight normal
    text-decoration none
    list-style-type disc
    h1
    h2
    h3
    h4
    h5
    h6
    p
    td
    dl
    tr
    dt
    ol
    form
    select
    option
    pre
    div
    table
    td
    th
    tbody
    tfoot
    caption
    thead
    ul
    li
    address
    blockquote
    dd
    fieldset
    li
    iframe
    strong
    legend
    em
    s
    cite
    span
    input
    sup
    label
    dfn
    object
    big
    q
    font
    samp
    acronym
    small
    img
    strike
    code
    sub
    ins
    textarea
    var
    a
    abbr
    applet
    del
    kbd
    tt
    b
    i
    hr
    article
    aside
    dialog
    figure
    footer
    header
    hgroup
    menu
    nav
    section
    time
    mark
    audio
    video
      background-attachment scroll
      background-color transparent
      background-image none
      background-position 0 0
      background-repeat repeat
      border-color black
      border-color currentColor
      -webkit-border-radius 0
      border-radius 0
      border-style none
      border-width medium
      bottom auto
      clear none
      clip auto
      color inherit
      counter-increment none
      counter-reset none
      cursor auto
      direction inherit
      display inline
      float none
      font-family inherit
      font-size inherit
      font-style inherit
      font-variant normal
      font-weight inherit
      height auto
      left auto
      letter-spacing normal
      line-height inherit
      list-style-type inherit
      list-style-position outside
      list-style-image none
      margin 0
      max-height none
      max-width none
      min-height 0
      min-width 0
      opacity 1
      outline invert none medium
      overflow visible
      padding 0
      position static
      quotes "" ""
      right auto
      table-layout auto
      text-align inherit
      text-decoration inherit
      text-indent 0
      text-shadow none
      text-transform none
      top auto
      unicode-bidi normal
      vertical-align baseline
      visibility inherit
      white-space normal
      width auto
      word-spacing normal
      z-index auto
    textarea
      display inline-block
    table
      display table
    thead
      display table-header-group
    tbody
      display table-row-group
    tfoot
      display table-footer-group
    tr
      display table-row
    th
    td
      display table-cell
      vertical-align middle
    td[valign=top]
      vertical-align top
    td[valign=bottom]
      vertical-align bottom
    ul
      list-style-type disc
    ol
      list-style-type decimal
    li
      display list-item
      min-height auto
      min-width auto
    strong
      font-weight bold
    em
      font-style italic
    kbd
    samp
    code
      font-family monospace
    a
    input[type=radio]
    input[type=checkbox]
      cursor pointer
    blockquote
    q
      quotes: none
      &:before
      &:after
        content ''
    table
      border-collapse collapse
      border-spacing 0