body {
	margin: 0;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.wrap,
.wrap-flex {
  height: 200px;
  border: 1px solid grey;
  margin: 20px 0;
}

.dialog {
  width: 300px;
  height: 200px;
}
