/*
  chilli-seed | icons
  ============================== */

@font-face
  font-family '<%= fontName %>'
  src url('<%= fontPath %><%= fontName %>.eot')
  src url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg')
  font-weight normal
  font-style normal

[class*='icon-']:before
  margin-top -4px // icon offset for Chrome 45
  display inline-block
  vertical-align middle
  font-family '<%= fontName %>'
  font-style normal
  font-weight normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
<% _.each(glyphs, function(glyph) { %>
$icon-<%= glyph.name %> = '\<%= glyph.codepoint.toString(16).toUpperCase() %>'<% }); %>
<% _.each(glyphs, function(glyph) { %>
.icon-<%= glyph.name %>:before
  content $icon-<%= glyph.name %>
<% }); %>
