/*
  inStyle™
  github.com/salsita/inStyle
  2016 | MIT
  ============================== */

@import 'instyle/instyle'

// Configuration
@import 'config'

// Components
//@import 'components/base'
//@import 'components/icons'


div
  display: block

  span,
  div.hard
    display: inline

    li
      white-space: nowrap

      a
        line-height: 1.5

        +in('div.hard:hover')
          color: blue

// div div.hard:hover li a { };
