/* -------------------
  gonzo-ui
  filip@salsitasoft.com
  2015 MIT
  ------------------- */

// Configuration

@import 'core/config'
@import 'skin/default/config' // load skin config before other core components

// Core

@import 'core/lib/normalize.css/normalize.css'
@import 'core/lib/wrapperElement/wrap'
@import 'core/generic'

// Effects

@import 'core/effects/animate.css/animate.min.css'
@import 'core/effects/easing'

// Components

@import 'components/icon'
@import 'components/form'

// Skin

@import 'skin/default/_main'