/*
  chilli-seed
  github.com/salsita/chilli-seed
  2015 | MIT
  ============================== */

// Core

@import 'core/normalize.css'
@import 'core/effects/easing'
@import 'core/config'
@import 'core/mixins'
@import 'core/reset'
@import 'core/base'

// Components

@import 'components/icons'
@import 'components/buttons'
@import 'components/inputs'
@import 'components/popover'
@import 'components/tooltip'
@import 'components/code'

// Demo

@import 'components/demo'

if $debug
  @import 'core/debug'
