/* -------------------
  gonzo-ui
  filip@salsitasoft.com
  2015 MIT
  ------------------- */

$debug = true

// Core

//@import 'core/normalize.css'
@import 'core/config'
@import 'core/mixins'
@import 'core/base'

// Effects

@import 'core/effects/animate.min.css'
@import 'core/effects/easing'

// Components

@import 'components/icons'
@import 'components/forms'

if $debug
  @import 'core/debug'