/*
  inStyle™ (v1.3.5)
  github.com/salsita/inStyle
  2016 | MIT
  ============================== */

@import 'instyle'

view-report table tr
  +in('^panel-left ^^panel-content ^thead')
    color: red // view-report panel-left panel-content table thead tr { };

div span table tr td
  +in('^^^^.out ^.in')
    color: red // div .out span table tr .in td { };

div span span a
  +in('span.first ^[inserted] span.second')
    color: green // div span.first [inserted] span.second a { };

ol, ul
  li a
    +in('ol:hover ^span')
      color: blue // ol:hover li span a { };
    +in('ol.pictures li:hover ^.insert, ul[attr]')
      color: red // ol.pictures li:hover .insert a, ul[attr] li a { };

table
  th, td
    span
      +in('^.insert td:hover')
        color: red // table .insert td:hover span { };
