// Mixins
// -----------

micro-clearfix()
  &:after
  &:before
    content ''
    display table
  &:after
    clear both

fullheight-align(align)
  font-size 0
  &:before
  &:after
  & > *
    font-size 1rem
  &:before
    content ''
    display inline-block
    vertical-align align
    width 0
    height 100%
    min-height inherit
    max-height inherit
    padding 0
  & > *
    display inline-block
    vertical-align align
    
transform(attrs)
  -webkit-transform attrs
  -moz-transform attrs
  -ms-transform attrs
  transform attrs